/* Write your CSS here */

.team-item-card {
  width: 38%;
  height: 150px;
  list-style: none;
  cursor: pointer;
}

.team-item-link {
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  height: 85%;
  border-radius: 12px;
  border: 1px solid #ffffff;
  padding: 20px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 24px;
  text-decoration: none;
}

.ipl-team-logo {
  height: 100px;
  width: 80px;
  margin-right: 20px;
}

.team-name-heading {
  font-size: 28px;
  text-decoration: none;
  color: white;
  text-align: center;
}
